body {
  display: grid;
  place-items: center;
  background-color: #1a1a1a;
  min-height: 100vh;
  font-weight: 400; 
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.outer_container {
  min-width: 600px;
  background-color: #333;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: center;

}

.inner_container {
 max-width: 50%;
}

/* Add this CSS to style the input text */
input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #ccc; /* Add bottom border */
  border-radius: 0; /* Remove border-radius */
  font-size: 14px;
  font-weight: 500;
  background-color: #444;
  color: #fff;
  transition: font-size 0.2s, border-color 0.2s; /* Add transition */
}


input[type="text"]:focus {
  font-size: 16px;
  border-color: #FE3D67; 
  outline: none;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 15px;
  color: #fff;
  font-size: 16px;
  margin-right: 10px; 
}


input[type="checkbox"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px; 
  font-weight: 500; 
  background-color: #444;
  color: #fff;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #fff;
  font-size: 14px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #FE3D67;
  border: 1px solid #ffffff;
}

button {
  background-color: #FE3D67;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 20px; 
  font-weight: 600;
  transition: background-color 0.2s, transform 0.2s, outline 0.2s; /* Added outline transition */
  margin: 10px; /* Added margin */
  outline: none; /* Added outline style */
}

button:hover {
  background-color: #f9093d;
  transform: scale(1.05);
  outline: none; /* Added outline style on hover */
}

button:active {
  transform: scale(0.95);
  outline: none; 
}

.result {
  margin-top: 20px;
  padding: 15px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.generated-link {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  font-size: 14px;
}

select[name="theme"] {
  width: 100%;
  padding: 10px 25px 10px 10px; /* Adjusted padding to the right side */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #007bff 50%),
      linear-gradient(135deg, #007bff 50%, transparent 50%);
  background-position: calc(100% - 15px) calc(1em + 2px),
      calc(100% - 10px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

select[name="theme"] option {
  background-color: #fff;
  color: #333;
}

select[name="theme"] option:hover {
  background-color: #007bff;
  color: #fff;
}


.skeleton-loader-container {
  position: relative;
  width: 10em;
  height: 10em;
  background-color: #1a1a1a;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton-loader {
  width: 50px;
  height: 50px;
  background-color: #e0e0e0;
  border-radius: 50%;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(0.8);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(0.8);
  }
}

  .skeleton-loader-container {
    position: relative;
    width: 7em;
    height: 7em;
    background-color: #1a1a1a;
    overflow: hidden; 
    border-radius: 5px;
    margin: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 3s linear infinite; /* Continuous rotation */
  }
  
  .skeleton-loader {
    width: 50px;
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 50%; 
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1.2); /* Scale up */
    }
    100% {
      transform: scale(0.8); /* Back to initial scale */
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg); 
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .input-container {
    position: relative;
    /* background-color: black; */
  }
  
  .suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(59, 55, 55);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 1px solid #ccc;
    max-width: 200px;
  }


.suggestions-item {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestions-item:hover {
  background-color: #aba3a3;
}
