/* App.css */

body {
    display: grid;
    place-items: center;
    background-color: #181726; /* Dark blue background color */
    min-height: 100vh; /* Added minimum height for better centering */
    font-weight: bold; /* Make fonts bolder */
    color: #fff; /* White font color */
  }
  
  .container {
    min-width: 800px;
    background-color: #2b273f;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 15px; /* Increased margin for better separation */
    color: #fff; /* White font color */
  }
  
  input[type="text"],
  input[type="checkbox"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px; /* Increased margin for better separation */
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold; /* Make fonts bolder */
    background-color: #444; /* Darker gray background color for inputs */
    color: #fff; /* White font color for inputs */
  }
  
  .checkbox-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    margin-bottom: 20px; /* Increased margin for better separation */
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Add some space between checkbox items */
    color: #fff; /* White font color */
    font-size: 16px;
  }
  
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked {
    background-color: #6e6bfa;
    border: 1px solid #6e6bfa;
  }
  
  button {
    background-color: #6e6bfa;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold; /* Make fonts bolder */
    transition: background-color 0.2s, transform 0.2s; /* Added transitions */
  }
  
  button:hover {
    background-color: #6d6bfa8c;
    transform: scale(1.05); /* Scale up the button on hover */
  }
  
  button:active {
    transform: scale(0.95); /* Scale down the button when clicked */
  }
  
  .result {
    margin-top: 20px;
    padding: 15px; /* Increased padding for better separation */
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .generated-link {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  select[name="theme"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold; /* Make fonts bolder */
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #007bff 50%),
      linear-gradient(135deg, #007bff 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
  }
  
  /* Style the select dropdown options */
  select[name="theme"] option {
    background-color: #fff;
    color: #333;
  }
  
  /* Adjust the hover effect on the dropdown options */
  select[name="theme"] option:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Added a flex class for centering content within the container */
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .skeleton-loader-container {
    position: relative;
    width: 10em;
    height: 10em;
    background-color: #1a1a1a;
    overflow: hidden; 
    border-radius: 5px; 
    margin-top: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .skeleton-loader {
    width: 50px;
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 50%; 
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8); /* Initial scale */
    }
    50% {
      transform: scale(1.2); /* Scale up */
    }
    100% {
      transform: scale(0.8); /* Back to initial scale */
    }
  }
  